<template>
<product
  aksi-submit="Tambahkan Product"
/>
</template>

<script>
import product from '@/components/dashboard-mainpanel/products/products'

export default{
  name: 'createProduct',
  components: {
    product
  }
}
</script>

<style scoped>
</style>
