<template>
<product
  aksi-submit="Update Product"
/>
</template>

<script>
import product from '@/components/dashboard-mainpanel/products/products'

export default{
  name: 'editProduct',
  components: {
    product
  }
}
</script>

<style scoped>
.row{
  margin: 50px;
}
.col-8{
  padding: 10px;
  border: 2px #34495e groove;
}
.col-3{
  padding: 30px;
  border: 2px #34495e groove;
}
</style>
