<template>
    <div id="margin-top">
        <h1>Products</h1>
        <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
            <th scope="col">Product</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(product,index) in products" :key="index">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>
                    <img :src="product.image" alt=""> <br>
                    <a :href="product.image">img source</a>
                </td>
                <td class="flexbutton">
                    <router-link to="/admin/products/edit">
                        <b-button variant="success" size="sm">Edit</b-button>
                    </router-link>
                        <b-button variant="danger" size="sm"> Del</b-button>
                </td>
            </tr>
        </tbody>
        </table>
        
        <router-link to="/admin/products/create" >
            <b-button variant="success">Add Product</b-button>
        </router-link>
    </div>
</template>

<script>
export default {
    data() {
        return {
            products: [
                {
                    name: 'Asuransi Jiwa 1',
                    description: 'Description of first Lorem Ipsum dolor sit amet',
                    image: 'https://cdn.icon-icons.com/icons2/674/PNG/512/Generali_icon-icons.com_60532.png'
                },
                {
                    name: 'Asuransi Jiwa 2',
                    description: 'Description of second Lorem Ipsum dolor sit amet',
                    image: 'https://cdn.icon-icons.com/icons2/674/PNG/512/Generali_icon-icons.com_60532.png'
                },
                {
                    name: 'Asuransi Jiwa 3',
                    description: 'Description of third Lorem Ipsum dolor sit amet',
                    image: 'https://cdn.icon-icons.com/icons2/674/PNG/512/Generali_icon-icons.com_60532.png'
                },
            ]
        }
    }
}
</script>

<style>

img{
    width: 30%;
}
</style>
