<template>
<deals
  aksi-submit="Tambahkan Deals"
/>
</template>

<script>
import deals from '@/components/dashboard-mainpanel/deals/deals'

export default{
  name: 'createDeals',
  components: {
    deals
  }
}
</script>

<style scoped>
</style>
