<template>
    <div id="margin-top">
        <h1>Deals</h1>
        <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Point</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(deal,index) in deals" :key="index">
                <td>{{deal.name}}</td>
                <td>{{deal.description}}</td>
                <td>{{deal.start}}</td>
                <td>{{deal.end}}</td>
                <td>{{deal.point}}</td>
                <td>
                    <img :src="deal.image" alt=""> <br>
                    <a :href="deal.image">img source</a>
                </td>
                <td>
                    <router-link to="/admin/deals/edit">
                        <b-button variant="success" size="sm">Edit</b-button>
                    </router-link>
                        <b-button variant="danger" size="sm"> Del</b-button>
                </td>
            </tr>
        </tbody>
        </table>
        
        <router-link to="/admin/deals/create" >
            <b-button variant="success">Add Deal</b-button>
        </router-link>
    </div>
</template>

<script>
export default {
    data() {
        return {
            deals: [
                {
                    name: 'Deals 1',
                    description: 'Description of first Lorem Ipsum dolor sit amet',
                    start: 'd1/mm/yyyy',
                    end: 'd2/mm/yyyy',
                    point: '5000',
                    image: 'https://cdn.icon-icons.com/icons2/674/PNG/512/Generali_icon-icons.com_60532.png'
                },
                {
                    name: 'Deals 2',
                    description: 'Description of second Lorem Ipsum dolor sit amet',
                    start: 'd1/mm/yyyy',
                    end: 'd2/mm/yyyy',
                    point: '7000',
                    image: 'https://cdn.icon-icons.com/icons2/674/PNG/512/Generali_icon-icons.com_60532.png'
                },
                {
                    name: 'Deals 3',
                    description: 'Description of third Lorem Ipsum dolor sit amet',
                    start: 'd1/mm/yyyy',
                    end: 'd2/mm/yyyy',
                    point: '9000',
                    image: 'https://cdn.icon-icons.com/icons2/674/PNG/512/Generali_icon-icons.com_60532.png'
                },
            ]
        }
    }
}
</script>

<style>
img{
    width: 30%;
}
</style>
