<template>
<div class="margin-top">
<h1>{{aksiSubmit}}</h1>
<div class="row">
    <div class="col-8">
    <form>
        <div class="form-group">
            <label for="nama-deals">Nama Deals <font-awesome-icon icon="coffee"/></label>
            <input type="text" class="form-control" id="nama-deals">
        </div>
        <div class="form-group">
            <label for="deskripsi-deals">Deskripsi Deals</label>
            <textarea class="form-control" id="deskripsi-deals" rows="15"></textarea>
        </div>
    </form>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="start-deals">Start Date</span>
        </div>
        <input type="date" class="form-control" placeholder="">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="end-deals">End Date&nbsp;</span>
        </div>
        <input type="date" class="form-control" placeholder="">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="point-deals">Point&emsp;&emsp;</span>
        </div>
        <input type="text" class="form-control" placeholder="Jumlah Point">
      </div>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="gambar-deals">
          <label class="custom-file-label" for="inputgambar">Pilih Gambar</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{{aksiSubmit}}</button>
    </div>
</div> 
</div>
</template>

<script>
export default{
  name: 'deals',
  props: [
    'aksiSubmit'
  ]
}
</script>

<style scoped>
.row{
  margin: 0px;
}
.col-8{
  padding: 10px;
  background-color: #f5f6fa;
}
.col-3{
  padding: 10px;
  padding-top: 40px;
  background-color: #f5f6fa;
}
button{
  width: 100%;
}
::-webkit-input-placeholder {
   text-align: left;
}
</style>
