<template>
<form>
  <div class="form-group margin-top">
    <label for="inputjudul">Judul Berita</label>
    <input type="text" class="form-control" id="inputjudul1" aria-describedby="judulHelp" placeholder="Enter judul">
  </div>
  <div class="form-group">
    <label for="isi-beritaIsi1">Isi Berita</label>
    <textarea class="form-control" id="isi-berita" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</template>

<script>
export default {

}
</script>

<style scoped>
form{
    margin: 20px;
}
</style>
