<template>
<div class="center">
    <b-container class="center">
      <div class="image">
        <img src="../assets/gepoint.png" alt="">
      </div>
        <h1>Administrator</h1>
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group id="input-username">
        <b-form-input id="username"
                      type="text"
                      v-model="form.username"
                      required
                      placeholder="Username">
        </b-form-input>
      </b-form-group>
      
      <b-form-group id="input-password">
          <!--hide password-->
        <b-input-group>
            <b-form-input id="hide-password"
                        type="password"
                        v-model="form.password"
                        v-show="!showPass"
                        required
                        placeholder="Password">
            </b-form-input>
            <b-input-group-append>
                <b-btn variant="outline-secondary" @click="showPass=true" v-show="!showPass">
                    <span >
                        <font-awesome-icon icon="eye" />
                    </span>
                </b-btn>
            </b-input-group-append>
        </b-input-group>
        <!--show password-->
        <b-input-group>
            <b-form-input id="show-password"
                        type="text"
                        v-model="form.password"
                        v-show="showPass"
                        required
                        placeholder="Password">
            </b-form-input>
            <b-input-group-append>
                <b-btn variant="outline-secondary" @click="showPass=false" v-show="showPass">
                    <span >
                        <font-awesome-icon icon="eye-slash" />
                    </span>
                </b-btn>
            </b-input-group-append>
        </b-input-group>
      </b-form-group>
      <div class="button" >
          <b-button  variant="primary" type="login" href="#/admin">Login</b-button>
      </div>
      
    </b-form>
    </b-container>
    </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        username: '',
        name: ''
      },
      
      show: true,
      showPass: false
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault();
      //alert(JSON.stringify(this.form));
    },
    onReset (evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.form.username = '';
      this.form.password = '';
    
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => { this.show = true });
    }
  }
}
</script>

<style>
    .box {
        width: 300px;
        height: 430px;
    }
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
       
    }

    .button {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }

    .image {
      width: 200px;
      height: 200px;
    }

    img {
      width: 100%;
    }
</style>
