<template>
    <div>
        <db-navbar></db-navbar>
        <div class="flex" id="menu-sidebar">
            <b-col cols="2" class="left">
                <db-sidebar></db-sidebar>
            </b-col>  
        <b-col cols="9" class="right">
            <router-view/>
        </b-col>
        </div>
                
    </div>   
</template>

<script>
import dbNavbar from "./template/dbNavbar"
import dbSidebar from "./template/dbSidebar"
export default {
    components:{
        dbNavbar, dbSidebar
    }
}
</script>

<style>
   .left{
       background-color: rgb(221, 221, 221);
       height: stretch;
   }

   .right{
       margin-left: 2em;
   }
</style>
