<template>
    <hospital-input hospital-submit="Edit Hospital Information"></hospital-input>
</template>

<script>
import hospitalInput from'./dbHospitalInput'
export default {
  components:{
    hospitalInput
  }
}
</script>