<template>
    <div>
        <div id="margin-top">
    <h1>{{hospitalSubmit}}</h1>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group id="hospname"
                    label="Hospital Name:"
                    label-for="inputhospitalname">
        <b-form-input id="inputhospname"
                      type="text"
                      v-model="form.name"
                      required
                      placeholder="">
        </b-form-input>
      </b-form-group>

      <b-form-group id="hospaddress"
                    label="Address:"
                    label-for="inputhospaddress">
        <b-form-textarea id="inputhospaddress"
                      type="text"
                      v-model="form.address"
                      required
                      placeholder=""
                      :rows="2"
                      :max-rows="3">
        </b-form-textarea>
      </b-form-group>

      <b-form-group id="hospphone"
                    label="Phone:"
                    label-for="inputhospitalphone">
        <b-form-input id="inputhospphone"
                      type="text"
                      v-model="form.phone"
                      required
                      placeholder="">
        </b-form-input>
      </b-form-group>

      <!--<b-form-group id="hospprovince"
                    label="Province:"
                    label-for="inputhospprov">
        <b-form-select id="inputhospprov"
                      :options="province"
                      required
                      v-model="form.province">
        </b-form-select>
      </b-form-group> -->

      <b-form-group id="hospcity"
                    label="City:"
                    label-for="inputhospitalcity">
        <b-form-input id="inputhospcity"
                      type="text"
                      v-model="form.city"
                      required
                      placeholder="">
        </b-form-input>
      </b-form-group> 

      <b-row>
          <b-col>
              <b-form-group id="lattitude"
                    label="Lattitude:"
                    label-for="hospitallattitude">
                <b-form-input id="hospitallattitude"
                      type="text"
                      v-model="form.lattitude"
                      required
                      placeholder="">
                </b-form-input>
                </b-form-group> 
          </b-col>
          <b-col>
              <b-form-group id="longitude"
                    label="Longitude:"
                    label-for="hospitallongitude">
                <b-form-input id="hospitallongitude"
                      type="text"
                      v-model="form.longitude"
                      required
                      placeholder="">
                </b-form-input>
                </b-form-group>
          </b-col>
          <b-col>
              <div class="center">
                <b-button variant="info">Search by GoogleMaps</b-button>
              </div>
          </b-col>
      </b-row>

      <b-button type="submit" variant="primary">{{hospitalSubmit}}</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
        
    </div>
</template>

<script>
export default {
    name: 'hospital',
    props: [
        'hospitalSubmit'
    ],
    data () {
    return {
      form: {
        name: '',
        address: '',
        phone: '',
        province: null,
        city:'',
        lattitude:'',
        longitude:''
      },
      province: [
        { text: 'Select One', value: null },
        'Jawa Barat','DKI Jakarta','Jawa Tengah','DI Yogyakarta',
        'Jawa Timur'
      ],
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault();
      //alert(JSON.stringify(this.form));
    },
    onReset (evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.form.name = '';
      this.form.address = '';
      this.form.phone ='';
      this.form.city = '';
      this.form.province = null;
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => { this.show = true });
    }
  }
}
</script>

<style>
.center{
    padding-top: 30px; 
}
</style>
