#margin-top {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 200%;
}

.margin-top {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 200%;
}

.menusidebar {
    border-radius: 0px;
}


#admin {
    text-align: center;
}

.flex {
    display: flex;
}

h1 {
    padding: 15px 0;
}