<template>
    <div>
      <b-navbar toggleable="md" type="dark" variant="dark">

      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

      <b-navbar-brand href="#/admin">
        
      </b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">


        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">

          

          <b-nav-item-dropdown text="Notification" right>
            <b-dropdown-item href="#">Notif1</b-dropdown-item>
            <b-dropdown-item href="#">Notif2</b-dropdown-item>
            <b-dropdown-item href="#">Notif3</b-dropdown-item>
            <b-dropdown-item href="#">Notif4</b-dropdown-item>
          </b-nav-item-dropdown>

        <b-navbar-nav right>
          <b-nav-item href="/">Log out</b-nav-item>
        </b-navbar-nav>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
    </div>
</template>
<script>
export default {
  
}
</script>
<style>
#logo {
  width: 7.5%;
  height: 7.5%;
}
</style>
