<template>
    <div>
    <b-nav vertical class="100" id="margin-top">
        <b-nav-item id="text-logo">
            <img src="../../assets/gepoint.png" alt="">
        </b-nav-item>
        <br>
        <b-nav-item>
            <router-link to="/admin" class="dark-text">
                Dashboard
            </router-link>
        </b-nav-item>
        
        <b-nav-item v-b-toggle.accordion1>
            <router-link to="/admin/news" class="dark-text">
                News
            </router-link>
            <div class="ddown-container">
                <div class="ddown"></div>
            </div>
        </b-nav-item>
            <b-collapse id="accordion1" accordion="my-accordion" role="tabpanel">
                <b-nav-item>
                    <router-link to="/admin/news" class="dark-text tab">
                        News List
                    </router-link>
                </b-nav-item>
                <b-nav-item>
                    <router-link to="/admin/news/create" class="dark-text tab">
                        Add News
                    </router-link>
                </b-nav-item>        
            </b-collapse>
        
        <b-nav-item v-b-toggle.accordion2>
            <router-link to="/admin/products/list" class="dark-text">
                Product
            </router-link>
            <div class="ddown-container">
                <div class="ddown"></div>
            </div>
        </b-nav-item>
            <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
                <b-nav-item>
                    <router-link to="/admin/products/list" class="dark-text tab">
                        Product List
                    </router-link>
                </b-nav-item>
                <b-nav-item>
                    <router-link to="/admin/products/create" class="dark-text tab">
                        Add Product
                    </router-link>
                </b-nav-item>        
            </b-collapse>
        
        <b-nav-item v-b-toggle.accordion3>
            <router-link to="/admin/hospital" class="dark-text">
                Hospital
            </router-link>
            <div class="ddown-container">
                <div class="ddown"></div>
            </div>
        </b-nav-item>
            <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
                <b-nav-item>
                    <router-link to="/admin/hospital" class="dark-text tab">
                        Hospital List
                    </router-link>
                </b-nav-item>
                <b-nav-item>
                    <router-link to="/admin/hospital/create" class="dark-text tab">
                        Add Hospital
                    </router-link>
                </b-nav-item>        
            </b-collapse>

        <b-nav-item v-b-toggle.accordion4>
            <router-link to="/admin/deals/list" class="dark-text">Deals </router-link>
            <div class="ddown-container">
                <div class="ddown"></div>
            </div>
        </b-nav-item>

            <b-collapse id="accordion4" accordion="my-accordion" role="tabpanel">
                <b-nav-item>
                    <router-link to="/admin/deals/list" class="dark-text tab">
                        Deals List
                    </router-link>
                </b-nav-item>
                <b-nav-item>
                    <router-link to="/admin/deals/create" class="dark-text tab">
                        New Deals
                    </router-link>
                </b-nav-item>        
            </b-collapse>
        

        <b-nav-item>
            <router-link to="/admin" class="dark-text">
                        User Info
            </router-link>
        </b-nav-item>

        <b-nav-item>
                    <router-link to="/admin" class="dark-text">
                        App Setting
                    </router-link>
                </b-nav-item>     
    </b-nav>
    </div>
</template>
<script>
export default {
    
}
</script>
<style>
.ddown-container {
    float: right;
}

.ddown {
    top: -7px;
   left: 9px;
   display: inline-block;
   border-right: 7px solid transparent;
   border-top: 7px solid #CCC;
   border-left: 7px solid transparent;
   border-top-color: rgba(0, 0, 0, 0.5);
   content: '';
 } 

.ddown:hover {
    top: -7px;
   left: 9px;
   display: inline-block;
   border-right: 7px solid transparent;
   border-top: 7px solid #CCC;
   border-left: 7px solid transparent;
   border-top-color: rgba(0, 0, 0, 0.35);
   content: '';
 } 

 

 .dark-text{
     color: #1b1e21;
 }   

 .dark-text:hover {
     color: #1b1e21;
 }
 .tab {
     margin-left: 20px;
 }   


</style>
