<template>
    <news-input news-submit="Edit News"></news-input>
</template>

<script>
import newsInput from './dbNewsInput'
export default {
    components: {
        newsInput
    }
}
</script>

<style>

</style>
