<template>
    <div id="margin-top">
        <h1>News</h1>
        <table class="table table-bordered" id="news-list">
        <thead class="table-dark">
            <tr>
            <th scope="col">Title</th>
            <th scope="col">date</th>
            <th scope="col">Content</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(news,index) in newss" :key="index">
                <td class="title-list">{{news.title}}</td>
                <td class="date-list">{{news.date}}</td>
                <td class="scroll">
                        {{news.content}}
                </td>
                <td class="image-list">
                    <img :src='news.imgsrc'>
                    <a :href="news.imgsrc">img source</a>
                </td>
                <td class="flexbutton">
                    <router-link to="/admin/news/edit" id="edit-news">
                        <b-button variant="success" size="sm">Edit</b-button>
                    </router-link>
                        <b-button variant="danger" size="sm" id="delete-news"> Del</b-button>
                </td>
            </tr>
        </tbody>
        </table>
        
        <router-link to="/admin/news/create" >
            <b-button variant="success">Add Hospital</b-button>
        </router-link>
    </div>
</template>

<script>
export default {
    data() {
        return {
        newss: [
            {
                title:'News 1',
                content:'This is Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere tincidunt est eu commodo. Nam ultrices nulla dui, a lacinia massa tincidunt eget. Pellentesque eget mollis dui, at cursus ex. Fusce purus nisl, tristique et interdum vitae, tincidunt nec massa. Vestibulum sit amet dolor quis risus elementum gravida sed ac mauris. Aliquam ultrices auctor urna, et malesuada diam volutpat sed. Proin eget orci turpis. Quisque sit amet mi pharetra, vehicula dolor a, fringilla enim. Morbi neque risus, tincidunt eget lectus at, aliquet lobortis mauris. Sed varius posuere euismod. Mauris condimentum arcu ut posuere dictum. Morbi vestibulum, nunc eget maximus vestibulum, urna diam vulputate ligula, laoreet gravida mauris diam eu odio. Ut aliquam eu justo nec convallis. Praesent sagittis placerat risus, quis pretium ligula porttitor vel. Mauris rhoncus blandit efficitur.',
                imgsrc:'https://pbs.twimg.com/profile_images/542722487734108160/ZTnB5YHQ_400x400.png',
                date: '25-08-18'
            },
            {
                title:'News 2',
                content:'In iaculis sed diam dictum viverra. Vestibulum hendrerit non mi id facilisis. Cras sit amet dolor eu orci aliquet vulputate. Ut eleifend libero eu arcu pellentesque, id malesuada sapien lobortis. Nullam at euismod arcu, rutrum viverra ligula. Pellentesque tincidunt eros sit amet dui cursus, et varius lorem mattis. Aliquam vehicula sem non leo sodales mollis. Donec convallis volutpat quam ac laoreet. Phasellus venenatis ligula eu diam facilisis ultricies. Vestibulum lacus mauris, ullamcorper sit amet interdum sit amet, ornare in sapien. Aenean vitae eros iaculis, gravida erat nec, rhoncus purus.',
                imgsrc:'https://pbs.twimg.com/profile_images/542722487734108160/ZTnB5YHQ_400x400.png',
                date: '22-08-18'
            },
            {
                title:'News 3',
                content: 'Nullam gravida ipsum eu imperdiet rutrum. Suspendisse faucibus tristique odio. Sed eleifend urna eu ipsum maximus, eget mollis elit aliquet. Sed imperdiet scelerisque justo, vel vulputate odio laoreet sed. Cras tempus vestibulum enim eu ultrices. In sem lorem, bibendum eget luctus eget, mattis nec enim. Vestibulum venenatis enim vel venenatis gravida. Aenean pellentesque blandit orci. Curabitur malesuada velit in dolor porta, sed interdum sem vehicula. Nam id dolor in dolor mollis semper sit amet in dolor. Mauris ullamcorper, quam vel cursus aliquet, ante leo hendrerit odio, sed pharetra massa eros quis arcu. Aliquam erat volutpat. Nunc nulla tortor, volutpat sit amet mollis eget, maximus eu leo.',
                imgsrc:'https://pbs.twimg.com/profile_images/542722487734108160/ZTnB5YHQ_400x400.png',
                date: '21-08-18'
            }]
        }
    }
}
</script>

<style>
.flexbutton{
    display: flex;
    height: auto;
    padding: auto;
}

img{
    width: 100%;
}

.scroll {
    height: 100px;
    overflow-y: scroll;
    overflow-y: hide;
    display: block;
}

.image-list {
    height: 100px;
    width: 100px;
}

.title-list {
    height: 100px;
    width: 200px;
}

.date-list {
    width: 100px;
}

</style>
