<template>
<div class="margin-top">
<h1>{{newsSubmit}}</h1>
<div class="row">
    <div class="col-8">
    <form>
      <div class="form-group">
      <label for="nama-product">News Title</label>
      <input type="text" class="form-control" id="new-title" placeholder="">
      </div>
      <div class="form-group">
      <label for="deskripsi-product">Content</label>
      <textarea class="form-control" id="news-content" rows="15"></textarea>
      </div>
    </form>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
      <div class="input-group mb-3">
        <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="news-date">Date</span>
        </div>
        <input type="date" class="form-control" placeholder="">
      </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="gambar-product">
            <label class="custom-file-label" for="inputgambar">Pilih Gambar</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{{newsSubmit}}</button>
    </div>
</div>
</div>
</template>

<script>
export default {
  name: 'News',
  props: [
    'newsSubmit'
  ]
}
</script>

<style scoped>
.row{
  margin: 0px;
}
.col-8{
  padding: 10px;
  background-color: #f5f6fa;
}
.col-3{
  padding: 10px;
  padding-top: 40px;
  background-color: #f5f6fa;
}
button{
  width: 100%;
}
</style>
